@font-face {
  font-family: 'Karma Future';
  src: url(/fonts/Karma-Future.otf);
}

@font-face {
  font-family: 'Arcade';
  src: url(/fonts/karmatic-arcade.regular.ttf);
}

:root {
  --titlesColor: #c67529;
  --titlesShadow: #5712e1;
  --buttonBackground: #d36a1f;
  --buttonText2: #d6cfcf; 

  --font: 'Karma Future', 'sans-serif';
  --font3: 'Arcade', 'sans-serif';
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font3);
  height: 100vh;
  background-image: url('/estrellasBase.gif');
  background-size: cover;
  animation: move 25s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes move {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 2px auto;
}
.color-picker-container {
  align-self: flex-end;
  padding: 10px 10px;
  margin-bottom: 10px;
}

#color-picker {
  -webkit-appearance: none;
  width: 75px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 3px 3px 0 var(--titlesShadow);
}
#color-picker::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; 
  height: 20px;
  border-radius: 2px;
  background: var(--buttonBackground); 
}
.color-picker-container input {
  width: 50px;
  padding: 0;
}
.text-up, .text-down {
  position: absolute;
  color: var(--buttonBackground);
  text-transform: uppercase;
  text-shadow: 3px 3px 0 var(--titlesShadow);
  font-size: 1.6rem;

}
.text-down {
  top: 293px;
  text-align: end;
  align-self: flex-end;
}
img {
  width: 250px;
  height: 261px;
  margin: 10px auto 25px auto;
}

input {
  color: var(--buttonBackground);
  background-color: var(--buttonText2);
  border: 0;
  padding: 15px;
  border-radius: 2px;
  font-size: 20px;
  font-family: var(--font);
  text-align: center;
  margin: 12px 0 10px 0;
}
input:focus {
  outline: 5px solid var(--titlesShadow);
}

button {
  color: var(--buttonText2);
  background-color: var(--buttonBackground);
  border: none;
  padding: 15px;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  font-family: var(--font3);
  
  cursor: pointer;
  box-shadow: 4px 4px 0 var(--buttonText2);
  text-transform: uppercase;
}
button:focus {
  outline: 5px solid var(--titlesShadow);
}
#clean-button {
  margin-bottom: 20px;
  flex-grow: 1;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-family: var(--font);
  font-size: 20px;
  color: var(--buttonBackground);
  background-color: var(--buttonText2);
  padding: 15px;
  border-radius: 2px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 4px 4px 0 var(--buttonBackground);
  cursor: pointer;
  transition: 0.2s;
}
button:active, ul li:active {
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 1);
}
.buttons-group {
  display: flex;
  gap: 7px;
  flex-direction: column;
  position: absolute;
  top: 302px;
}
.buttons-group a {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: var(--buttonBackground);
  box-shadow: 2px 2px 0 var(--buttonText2);
}
.buttons-group img {
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 2px;
}
.buttons-group a:focus {
  outline: 5px solid var(--titlesShadow);
}
.buttons-group img:active {
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 1);
}
.instructions {
  padding: 10px 40px;
  position: fixed;
  top: 15%;
  z-index: 2;
  max-width: 250px;
  background-color: var(--buttonBackground);
  box-shadow: 7px 7px 0 var(--buttonText2);
  border-radius: 2px;
  color: var(--titlesShadow);
  font-family: var(--font);
  font-size: 1.3rem;
  text-shadow: 2px 2px 0 var(--buttonBackground);
  display: none;
  cursor: pointer;
}
.instructions-title {
  text-align: center;
  font-size: 1.7rem;
  font-family: var(--font3);
}
