@font-face {
  font-family: 'Steve';
  src: url(./public/fonts/Steve.ttf);
}
@font-face {
  font-family: 'Steven';
  src: url(./public/fonts/Steven.ttf);
}
:root {
  --background: #b6cb68;
  --background2: #76C893;
  --text2: #168aad;
  --text: #bc4749;
  --textBrown: #432000;
  --inputBackground: #DCE1EB;
  --buttonBackground: #baf71e;
  --buttonBackground2: #AC485A;
  --buttonText: #272343;
  --buttonText2: #FDFDFD; 
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Steven', sans-serif;
  /* background-color: var(--background); */
  height: 100vh;

/*   background: linear-gradient(90deg, #c8e74d, #f5a2a1);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
#app-el {
  background-image: url('./public/estrellasBase.gif');
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 2px auto;
}
.color-picker-container {
  align-self: flex-end;
  padding: 20px 10px;
  margin-bottom: 40px;
}
.color-picker-container input {
  width: 50px;
  padding: 0;
}
img {
  width: 250px;
  margin:0 auto;
}

input {
  color: var(--textBrown);
  background-color: var(--background);
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

button {
  color: var(--text);
  /*font-weight: bold;*/
  background-color: var(--buttonBackground);
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: 'Steven','Rubik', sans-serif;
  cursor: pointer;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  color: var(--buttonText);
  /*font-weight: bold;*/
  background-color: var(--background2);
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
button:active, ul li:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 4px -12px inset, rgba(0, 0, 0, 0.3) 10px 15px 26px -18px inset;
}
